@charset "UTF-8";

/* Estilo Mobile First */

/* Paletas de cores usadas:
Roxo: #9a28c2;
Azul: #85cfb5; */

@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,600;1,600&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  'Montserrat', sans-serif;
}

body, html{
    background-color:#80ade7;
    height: 100vh;
    width: 100vw;

}


main{
  position: relative;
   height: 100vh;
   width: 100vw;
}



section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    overflow: hidden;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    
    
  
}

div#imagem{
    display: block;
    background: #9a28c2 url(../Imagens/pexels-sean-whang-25006-804269.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    height: 200px;
}


div#form{
    display: block;
    padding: 10px;
}

.title-log{
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.3rem;
    
}

.text-log{
    line-height: 22px;
    margin-bottom: 10px;
    font-size: 0.9rem;
}

