@charset "UTF-8";

/* Estilo Mobile First */

/* Paletas de cores usadas:
Roxo: #9a28c2;
Azul: #85cfb5; */

@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,600;1,600&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  'Montserrat', sans-serif;
}

body, html{
    background-color:#80ade7;
    height: 100vh;
    width: 100vw;

}


main{
  position: relative;
   height: 100vh;
   width: 100vw;
}



form div.campo{
     display: flex;
    align-items: center;
    background-color: #9a28c2;
    border-radius: 8px;
    height: 30px;
    margin: 8px 0px;
    
}

form div > label{
    display: none;
}

form div > span{
   border-radius: 8px;
    font-size: 1.2rem;
    color: white;
    width: 35px;
    height: 30px;
    padding: 8px;
    margin-bottom: 10px;
}

div.campo > input{
    background-color: #85cfb5;
    padding: 10px;
    width: 100%;
    border-radius: 8px;
    height: 30px;
    border: 1px solid rgb(181, 107, 207);
    color: white;
}



section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    width: 250px;
    height: 600px;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    
    
  
}

div#imagem{
    display: block;
    background: #9a28c2 url(../Imagens/pexels-sean-whang-25006-804269.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    height: 200px;
}


div#form{
    display: block;
    padding: 10px;
}

.title-log{
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.3rem;
    
}

.text-log{
    line-height: 22px;
    margin-bottom: 10px;
    font-size: 0.9rem;
}

form > input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #85cfb5;
    color: white;
    border: none; 
    border-radius: 5px; 
    box-shadow: 1px 2px 3px black; 
}

form > input[type=submit]:hover{
   background-color: #4d7a6a;
   cursor: pointer;

}

form > a.botao{
    background-color: white;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #4d7a6a;
    display: block;
    margin-top: 10px;
    height: 40px;
    text-decoration: none;
    color: rgb(45, 211, 223);
    text-align: center;
   
    
}

form > a.botao:hover{
    background-color: #4ba786;
}

